In [1]:
import time
start = time.time()

# 0. Список компаний

In [2]:
import pandas as pd

In [3]:
tickers = ['AAPL','ADBE','AMD','CSCO','FB','GOOGL','INTC','MSFT','NFLX','NVDA','PYPL','ZM']
tickers_names = ['Apple Inc', 'Adobe Inc.', 'AMD (Advanced Micro Devices Inc.)', 'Cisco Systems, Inc.','Meta Platforms, Inc.',
                 'Alphabet Inc (Google) Class A', 'Intel Corporation', 'Microsoft Corporation', 'Netflix, Inc.', 
                 'Nvidia Corporation', 'PayPal Holdings, Inc.', 'Zoom Video Communication, Inc.']
dictionary = {'Ticker': tickers, 'Company Name': tickers_names}

In [4]:
tickers_df = pd.DataFrame(data=dictionary, index = [1,2,3,4,5,6,7,8,9,10,11,12])

In [5]:
tickers_df

   Ticker                       Company Name
1    AAPL                          Apple Inc
2    ADBE                         Adobe Inc.
3     AMD  AMD (Advanced Micro Devices Inc.)
4    CSCO                Cisco Systems, Inc.
5      FB               Meta Platforms, Inc.
6   GOOGL      Alphabet Inc (Google) Class A
7    INTC                  Intel Corporation
8    MSFT              Microsoft Corporation
9    NFLX                      Netflix, Inc.
10   NVDA                 Nvidia Corporation
11   PYPL              PayPal Holdings, Inc.
12     ZM     Zoom Video Communication, Inc.

In [6]:
tickers_df.to_csv('Таблица 1. Список компаний.csv', sep = ';')

In [7]:
print("\ntransposition: --- %s seconds ---" % (time.time() - start))

transposition: --- 0.4647524356842041 seconds ---